.header-logo{
    font-size: 22px;
    font-weight: 500;
}
.header-logo img{
    width: 75px;
}
.menu-items a{
    font-size: 20px;
}
.menu-items a:hover{
    color: #660101;
}
.badge{
    background-color: #ffa500 !important;
    margin-top: -5px;
    padding: 1px 2px;
    position: absolute;
}

.dropdown-item{
    width: 0%;
}
.dropdown-item:hover{
    background-color: #198754;
}
.dropdown-item img{
    width: 45px;
    border-radius: 50%;
}
.dropdown-menu.show {
    margin-left: -30px;
    padding: 10px;
}
