.allCourse{
    background-image: url(./../../assets/images/sectionBg.png);
    padding: 40px 0;
}
.allCourse h1 p{
    color: white;
}

/* .....media query..... */
@media screen and (max-width:1200px) and (min-width:990px) {
    .detail-btn{
        padding: 5px !important;
    }
}